{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="text-center">
        <h1>{% trans "Your Gift List"%}</h1>
    </div>  

    <div class="mb-4 text-center">
        <a href="{% url 'create-gift' %}" class="standard-button">{% trans "Create New Gift"%}</a>
    </div>

    <form method="get" class="mb-4">
        <label for="sort_by" calss="mr-2">{% trans "Sort by:"%}</label>
        <select name="sort_by" id="sort_by" class="mr-2">
            {% for key, label in sort_options.items %}
                <option value="{{ key }}" {% if key == sort_by %}selected{% endif %}> {{ label }}</option>
            {% endfor %}
        </select>

        <label for="order" class="mr-s">{% trans "Order:"%}</label>
        <select name="order" id="order" class="mr-2">
            <option value="asc" {% if order == 'asc' %}selected{% endif %}>{% trans "Ascending"%}</option>
            <option value="desc" {% if order == 'desc' %}selected{% endif %}>{% trans "Descending"%}</option>
        </select>

        <button type="submit" class="standard-button">{% trans "Apply"%}</button>
    </form>

    <form method="get" action="{% url 'user-gift-list' %}" class="mb-4">
        {% csrf_token %}
        <label for="search_query" class="mr-2">{% trans "Search by Gift Name:" %}</label>
        <input type="text" name="search_query" id="search_query" value="{{ search_query }}">
        <button type="submit" class="standard-button">{% trans "Search" %}</button>
    </form>

    <button type="button" class="filter-button" data-toggle="modal" data-target="#filterModal">{% trans "Filter"%}</button>

    <div id="filterParamsContainer" class="mb-3">
        <p id="filterParamsText"></p>
    </div>

    <div id="giftListContainer">
        {% for gift in gifts %}
            <div class="mb-4">
                <p>{% trans "Title:"%} {{ gift.title }}</p>
                <p>{% trans "Description:"%} {{ gift.description }}</p>
                <p>{% trans "Price:"%} {{ gift.price }}</p>
                <p>{% trans "Priority:"%} {{ gift.get_priority_display }}</p>
                <p>{% trans "Types:"%} {{ gift.get_types_display }}</p>
                <p>{% trans "Status:"%} {{ gift.get_status_display }}</p>
                <form method="post" action="{% url 'delete-gift' pk=gift.pk %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-button">{% trans "Delete"%}</button>
                </form>
                <a href="{% url 'edit-gift' pk=gift.pk %}" class="standard-button">{% trans "Edit"%}</a>
            </div>
            <hr>
        {% endfor %}
    </div>

    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="filterModalLabel">{% trans "Filter Gifts" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="filterForm">
                        {% csrf_token %}

                        <label for="price_min" class="mr-2">{% trans "Minimum Price:" %}</label>
                        <input type="number" class="form-control" id="price_min" name="price_min" min="0">

                        <label for="price_max" class="mr-2">{% trans "Maximum Price:" %}</label>
                        <input type="number" class="form-control" id="price_max" name="price_max" min="0">

                        <label for="priority" class="mr-2">{% trans "Priority:" %}</label>
                        <select class="form-control" id="priority" name="priority">
                            <option value="" selected>{% trans "Select Priority" %}</option>
                            <option value="high">{% trans "High" %}</option>
                            <option value="medium">{% trans "Medium" %}</option>
                            <option value="low">{% trans "Low" %}</option>
                            <option value="none">{% trans "None" %}</option>
                        </select>

                        <label for="status" class="mr-2">{% trans "Status:" %}</label>
                        <select class="form-control" id="status" name="status">
                            <option value="" selected>{% trans "Select Status" %}</option>
                            <option value="given">{% trans "Given" %}</option>
                            <option value="not given">{% trans "Not given" %}</option>
                            <option value="booked">{% trans "Booked" %}</option>
                        </select>

                        <label for="types" class="mr-2">{% trans "Types:" %}</label>
                        <select class="form-control" id="types" name="types">
                            <option value="" selected>{% trans "Select Type" %}</option>
                            <option value="boardgames">{% trans "Board games" %}</option>
                            <option value="books">{% trans "Books" %}</option>
                            <option value="collections">{% trans "Collections" %}</option>
                            <option value="computergames">{% trans "Computer games" %}</option>
                            <option value="home">{% trans "Home" %}</option>
                            <option value="other">{% trans "Other" %}</option>
                        </select>

                        <button type="submit" class="btn btn-primary" onclick="applyFilter()">{% trans "Apply Filter" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function applyFilter() {
            var formData = new FormData(document.getElementById('filterForm'));
            fetch('{% url "user-gift-list" %}', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                updateGiftList(data.gifts);
                displayFilterParameters(formData);
                $('#filterModal').modal('hide');
            });
        }
        
        function displayFilterParameters() {
            var filterParamsContainer = document.getElementById('filterParamsContainer');
            filterParamsContainer.innerHTML = '';
        
            var filterParams = document.createElement('p');
            filterParams.textContent = `{% trans "Filter Parameters:" %} ${getFilterParameters()}`;
            filterParamsContainer.appendChild(filterParams);

            var clearFiltersButton = document.createElement('button');
            clearFiltersButton.textContent = '{% trans "Clear Filters" %}';
            clearFiltersButton.classList.add('btn', 'btn-danger', 'ml-2');
            clearFiltersButton.addEventListener('click', clearFilters);
            filterParamsContainer.appendChild(clearFiltersButton);
        }

        function clearFilters() {
            document.getElementById('filterForm').reset();

            fetch('{% url "clear-filters" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                },
            })
            .then(response => response.json())
            .then(data => {
                updateGiftList(data.gifts);
                displayFilterParameters();
                $('#filterModal').modal('hide');
            });
        }
        
        function getFilterParameters(formData) {
            var params = [];

            var priceMin = formData.get('price_min');
            var priceMax = formData.get('price_max');
            var priority = formData.get('priority');
            var status = formData.get('status');
            var types = formData.get('types');
        
            if (priceMin) params.push(`{% trans "Min Price:" %} ${priceMin}`);
            if (priceMax) params.push(`{% trans "Max Price:" %} ${priceMax}`);
            if (priority) params.push(`{% trans "Priority:" %} ${getPriorityText(priority)}`);
            if (status) params.push(`{% trans "Status:" %} ${getStatusText(status)}`);
            if (types) params.push(`{% trans "Types:" %} ${getTypeText(types)}`);
        
            return params.join(', ');
        }
        
    
        function updateGiftList(gifts) {
            var giftListContainer = document.getElementById('giftListContainer');
            giftListContainer.innerHTML = '';
        
            if (gifts.length > 0) {
                var ul = document.createElement('ul');
                gifts.forEach(function(gift) {
                    var li = document.createElement('li');
                    li.textContent = `${gift.title} - ${gift.description} - ${gift.price} - ${gift.types} - ${gift.status} - ${gift.priority}`;
                    ul.appendChild(li);
                });
                giftListContainer.appendChild(ul);
            } else {
                var p = document.createElement('p');
                p.textContent = '{% trans "No gifts found." %}';
                giftListContainer.appendChild(p);
            }
        }
    
        function getPriorityText(priority) {
            switch (priority) {
                case 'high': return '{% trans "High" %}';
                case 'medium': return '{% trans "Medium" %}';
                case 'low': return '{% trans "Low" %}';
                case 'none': return '{% trans "None" %}';
                default: return '';
            }
        }
    
        function getStatusText(status) {
            switch (status) {
                case 'given': return '{% trans "Given" %}';
                case 'not given': return '{% trans "Not given" %}';
                case 'booked': return '{% trans "Booked" %}';
                default: return '';
            }
        }
    
        function getTypeText(types) {
            switch (types) {
                case 'boardgames': return '{% trans "Board games" %}';
                case 'books': return '{% trans "Books" %}';
                case 'collections': return '{% trans "Collections" %}';
                case 'computergames': return '{% trans "Computer games" %}';
                case 'home': return '{% trans "Home" %}';
                case 'other': return '{% trans "Other" %}';
                default: return '';
            }
        }
    </script>
            
{% endblock %}
