<!-- templates/wishlist_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <h2>Your Wishlist</h2>
    <!-- Display the list of gifts with the ability to add, view, edit, or delete -->
    <!-- Example: -->
    <ul>
        {% for gift in wishlist.gifts.all %}
            <li>{{ gift.title }} - {{ gift.description }}
                <a href="{% url 'wishlist-detail' pk=gift.pk %}">View</a>
                <a href="{% url 'gift-detail' pk=gift.pk %}">View</a>
                <a href="{% url 'gift-edit' pk=gift.pk %}">Edit</a>
                <a href="{% url 'gift-delete' pk=gift.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add-gift' %}">Add Gift</a>
{% endblock %}
